#!/bin/bash

# brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

EXTRA_ARGS="--global"

{{- if eq .chezmoi.username "runner" }}

EXTRA_ARGS="--file ./output/.Brewfile" 

{{ end -}}

echo $PWD
ls

brew bundle cleanup --force ${EXTRA_ARGS}
brew bundle install --force ${EXTRA_ARGS}
