#!/bin/bash

# brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

EXTRA_ARGS="--global"

{{ if env "WORKFLOW" -}}

EXTRA_ARGS="--file ./output/Brewfile" 

{{ end -}}

brew bundle cleanup --force ${EXTRA_ARGS}
brew bundle install --force ${EXTRA_ARGS}
