#!/bin/bash

# brewfile hash: {{ include "dot_Brewfile" | sha256sum }}

{{- if ne .chezmoi.username "runner" }}

brew bundle cleanup --force --file .Brewfile

{{ end -}}

brew bundle install --force --file .Brewfile
